<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinema.mapper.MovieMapper">

    <select id="selectMovieDetail" resultType="com.cinema.domain.Movie">
        SELECT 
            mno, 
            title, 
            content, 
            poster, 
            runtime, 
            opendate, 
            catchphrase,
            regdate
        FROM movie
        WHERE mno = #{mno}
    </select>

    <insert id="insertMovie" parameterType="com.cinema.domain.Movie" useGeneratedKeys="true" keyProperty="mno">
        INSERT INTO movie (title, content, poster, runtime, opendate, catchphrase)
        VALUES (#{title}, #{content}, #{poster}, #{runtime}, #{opendate}, #{catchphrase})
    </insert>

    <select id="selectAllMovies" resultType="com.cinema.domain.Movie">
        SELECT * FROM movie ORDER BY opendate DESC
    </select>

    <update id="updateMovie" parameterType="com.cinema.domain.Movie">
        UPDATE movie
        SET title = #{title}, content = #{content}, runtime = #{runtime}, 
            opendate = #{opendate}, catchphrase = #{catchphrase}
            <if test="poster != null">, poster = #{poster}</if>
        WHERE mno = #{mno}
    </update>

    <delete id="deleteMovie">
        DELETE FROM movie WHERE mno = #{mno}
    </delete>

	<select id="selectMovieList" resultType="com.cinema.domain.Movie">
        SELECT * FROM movie
        <where>
            <if test="keyword != null and keyword != ''">
                title LIKE CONCAT('%', #{keyword}, '%')
                OR catchphrase LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY title ASC
    </select>

</mapper>